body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.switch .lever {
    background-color: red !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #84c7c1 !important;
}

select {
    display: block !important;
} 

.transaction {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.transaction img {
    width: 64px;
    height: 64px;
}

.transaction .text-transaction {
    width: 100%;
    padding-left: 0.5rem;
}

.transaction-footer {
    display: flex;
    margin-bottom: 1em;
}

.transaction-footer span.small {
    flex: 1 0 auto;
}

.income {
    color: #32A920;
    /*font-weight: bold;*/
}

.small {
    font-size: 0.85em;
}

nav .brand-logo {
    margin-left: 1.5rem;
}

.page-footer .footer-copyright {
    background-color: unset;
}

.color-red {
    color: red;
}

img.medium-size {
    width: 48px;
    height: 48px;
}

.pagination{
    font-size: 1.3em;
    text-align: center;
    margin: 15px 0;
}

.pagination span{
    display: inline-block;
    min-width: 30px;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.pagination .current{
    font-weight: bold;
    background-color: #fef;
}

.pagination .page a:hover, .pagination .next a:hover, .pagination .last a:hover, .pagination .previous a:hover, .pagination .first a:hover{
    background-color: white;
    transition: background-color 0.2s;
}

.pagination .page a{
    transition: background-color 0.2s;
}

.pagination .page a, .pagination .next a, .pagination .last a, .pagination .previous a, .pagination .first a{
    background-color: #fcd;
    color: #846;
    display: inline-block;
    min-width: 30px;
    padding: 3px;
    border-radius: 3px;
}

.chart{
    padding: 15px;
}

@media all and (max-width: 500px){
    .chart div{
        width: 100%;
    }
}