{% extends "base.html.twig" %}

{% block title %}Budget App - Add Payment Methods{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    
    {{ form_start(form) }}

        <div class="errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col-md-12 form-group input-field">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        {{ form_widget(form.save, {'attr': {'class': 'center-align btn waves-effect waves-light'}}) }}

    {{ form_end(form) }}
{% endblock %}