{% extends 'base.html.twig' %}

{% block title %}Budget App - Payment Methods{% endblock %}

{% block body %}
<h1>Payment Methods</h1>

<a class="btn" href="{{ path('payment_method_add') }}">Add Payment Methods</a>

<h2>Current payment methods</h2>

<table>

    <tbody>
        {% for payment_method in payment_methods %}
            <tr>
                <td>{{ payment_method.name }}</td>
                <td>
                    <a href="{{ path('payment_method_edit', {id: payment_method.id}) }}">
                        <i class="fa fa-pencil right fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('payment_method_delete', {id: payment_method.id}) }}">
                        <i class="fa fa-times color-red right fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
