{% extends 'base.html.twig' %}

{% block title %}Budget App - Login{% endblock %}

{% block body %}

<h1>Sign in</h1>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 form-group input-field">
            <label for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group input-field">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


    <button class="center-align btn waves-effect waves-light" type="submit">
        Sign in
        <i class="material-icons right">send</i>
    </button>
</form>
{% endblock %}
