{% extends 'base.html.twig' %}

{% block title %}Budget App - Transaction Types{% endblock %}

{% block body %}
<h1>Transaction Types</h1>

<a class="btn" href="{{ path('transaction_type_add') }}">Add Transaction Types</a>

<h2>Current transaction types</h2>

<table>

    <tbody>
        {% for transaction_type in transaction_types %}
            <tr>
                <td>{{ transaction_type.name }}</td>
                <td>
                    {% if transaction_type.isIncome %}
                        <img class="medium-size" src="{{ asset('img/up.png') }}" alt="Income">
                    {% else %}
                        <img class="medium-size" src="{{ asset('img/down.png') }}" alt="Outcome">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('transaction_type_edit', {id: transaction_type.id}) }}">
                        <i class="fa fa-pencil right fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('transaction_type_delete', {id: transaction_type.id}) }}">
                        <i class="fa fa-times color-red right fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
