<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Budget App{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block menu %}
            <header>
                <nav>
                    <div class="nav-wrapper">
                        <a href="{{ path('index') }}" class="brand-logo">Budget App</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>


                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            {% if app.user %}
                                <li><a href="{{ path('payment_method') }}">Manage Methods</a></li>
                                <li><a href="{{ path('transaction_type') }}">Manage Transactions Types</a></li>
                                <li><a href="{{ path('transaction_add') }}">Add Transaction</a></li>
                                <li><a href="{{ path('manage_account') }}">{{ app.user.username }}</a></li>
                                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Login</a></li>
                                <li><a href="{{ path('register') }}">Register</a></li>
                            {% endif %}
                        </ul>

                        <ul class="sidenav" id="mobile-demo">
                            {% if app.user %}
                                <li><a href="{{ path('payment_method') }}">Manage Methods</a></li>
                                <li><a href="{{ path('transaction_type') }}">Manage Transactions Types</a></li>
                                <li><a href="{{ path('transaction_add') }}">Add Transaction</a></li>
                                <li><a href="{{ path('manage_account') }}">{{ app.user.username }}</a></li>
                                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Login</a></li>
                                <li><a href="{{ path('register') }}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>
        {% endblock %}

        <main class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </main>

        {% block footer %}
            <footer class="page-footer">
                <div class="container">
                    <div class="row">

                    </div>

                    <div class="footer-copyright">
                        <div class="container">
                            <b>Budget App</b> &mdash; Created by Jérémy HUET, Delphine Jaudel, Axel Perez and Corentin Bettiol
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% block scripts %}{% endblock %}
        <script src="{{ asset('js/init.js') }}"></script>
    </body>
</html>
