{% extends "base.html.twig" %}

{% block title %}Budget App{% endblock %}

{% block body %}

{% if app.user %}
    <h1>Latest transactions</h1>

    <div class="row">

        <div class="card-title">
            <h4>Total : {{ solde }}€</h4>
            <hr>
        </div>
        {% if chart %}
            <div class="card col s12 l12">
                <div class="chart" id="div_chart1"><div id="div_chart1_text">Loading chart...</div></div>
                
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(chart, 'div_chart1') }}
                </script>
            </div>
        {% endif %}
        {% if pieChart %}
            <div class="card col s12 l6">
                <div class="chart" id="div_chart2"><div id="div_chart2_text">Loading chart...</div></div>
                <script type="text/javascript">
                    {{ gc_draw(pieChart, 'div_chart2') }}
                </script>
            </div>
        {% endif %}
        {% if pieChart %}
            <div class="card col s12 l6">
                <div class="chart" id="div_chart3"><div id="div_chart3_text">Loading chart...</div></div>
                <script type="text/javascript">
                    {{ gc_draw(pieChart2, 'div_chart3') }}
                </script>
            </div>
        {% endif %}

        <div class="card col s12 l12">
        {{ knp_pagination_render(pages) }}
            <div class="card-content">
                {% if transactions %}
                    {% for transaction in transactions %}
                        <div>
                            <h5>{{ transaction.date|date('d F Y') }}</h5>
                            <div class="row transaction">
                                {% if transaction.transactionType.isIncome %}
                                    <img  src="{{ asset('img/up.png') }}" alt="Income">
                                {% else %}
                                    <img  src="{{ asset('img/down.png') }}" alt="Outcome">
                                {% endif %}
                                

                                <div class="text-transaction">
                                    <strong>{{ transaction.libelle }}</strong><br>
                                    <span class="small">{{ transaction.transactionType.name }}</span>
                                </div>

                                <div class="montant-transaction">
                                    {% if transaction.transactionType.isIncome %}
                                        <h4 class="income">{{ transaction.amount }}€</h4> 
                                    {% else %}
                                        <h4 class="outcome">-{{ transaction.amount }}€</h4> 
                                    {% endif %}
                                </div>
                            </div>

                            <div class="transaction-footer">
                                <span class="small"><i>Moyen de paiement : {{ transaction.paymentMethod.name }}</i></span>
                                <a href="{{ path('transaction_edit', {id: transaction.id}) }}">
                                    <i class="fa fa-pencil right fa-lg" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('transaction_delete', {id: transaction.id}) }}">
                                    <i class="fa fa-times color-red right fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>

                            {% if not loop.last %}
                                <div class="divider"></div>
                            {% endif %}

                        </div>

                        {% if not loop.last %}
                            <div class="divider"></div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No transaction!</p>
                {% endif %}
            </div>
        {{ knp_pagination_render(pages) }}
        </div>
    </div>

{% else %}

    <h1>Welcome</h1>

    <p>This is another "budget" webapp, where you will enter your income/outcome, and the app will generate detailed reports and classy charts.</p>

{% endif %}

{% endblock %}