{% extends 'base.html.twig' %}

{% block title %}Budget App - Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    
    {{ form_start(form) }}

        <div class="errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col-md-12 form-group input-field">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group input-field">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'center-align btn waves-effect waves-light'}}) }}

    {{ form_end(form) }}
{% endblock %}
