{% extends "base.html.twig" %}

{% block title %}Budget App - Add Transaction{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    
    {{ form_start(form) }}

        <div class="errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col-md-12 form-group input-field">
               {{ form_label(form.libelle) }}
                {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group input-field">
                {{ form_label(form.amount) }}
                {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group input-field">
                {{ form_label(form.date) }}
                {{ form_widget(form.date, {'attr': {'class': 'form-control datepicker'}}) }}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 form-group select-field">
                <label for="form_payment_method">Méthode de paiement</label>
                {{ form_widget(form.payment_method, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12 form-group input-field">
                <div class="switch type-montant">
                    <label>
                        Débit
                        <input type="checkbox">
                        <span class="lever"></span>
                        Entrée
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group select-field">
                <label for="form_transaction_type">Type de transaction</label>
                {{ form_widget(form.transaction_type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        {{ form_widget(form.save, {'attr': {'class': 'center-align btn waves-effect waves-light'}}) }}

    {{ form_end(form) }}

    {% block scripts %}
        <script src="{{ asset('js/addTransaction.js') }}"></script>
    {% endblock %}
{% endblock %}